@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Catamaran');
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    padding-left: 170px;
    top: 7px;
}