nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  gap: 48px;
  align-items: center;
}
li > a {
  color: #163561;
  font-family: Catamaran;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  width: 93px;
  height: 138px;
  flex-shrink: 0;
  padding: 15px;
  line-height: 133.6%;
  transition: 1s all ease;
}
li > a:hover {
  color: #fff;
  font-family: Catamaran;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.6%;
  border: 2px;
  background: #a3c1ef;
}
.icon {
  display: flex;
  align-items: center;
}
p {
  color: #99baed;
  font-family: Catamaran;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.6%;
}
.galleryA {
  margin-right: 300px;
}
i {
  margin-right: 36px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
button {
  width: 188px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #99baed;
  color: #fff;
  font-family: Catamaran;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.6%; /* 30.12px */
  letter-spacing: 0.6px;
  border: none;
  cursor: pointer;
  margin-left: 100px;
}
